.form-control {
    background-color: #222;
    color: #fff;
}

.form-control:focus {
    background-color: #111;
    color: #fff;
}

.question,
.answer {
    font-size: 1.3em;
    max-height: 3em;
}

.preview-button {
    margin-right: 1rem;
}

i {
    color: #fff;
    font-size: 2em;
}

p {
    margin: 0;
}

@media (max-width: 768px) {
    body {
        font-size: 0.7rem;
    }

    .question,
    .answer {
        max-height: 3.5em;
    }
}
